<section class="py-10 my-15 pb-16">
    <div class="max-w-7xl mx-auto text-center mb-12">
        <p class="text-teal-600">OUR FEATURES</p>
        <p class="text-4xl font-semibold text-gray-900 mt-2">Better Digital Insurance Begins Right Here</p>
    </div>
    <div class="flex flex-col md:flex-row gap-8 max-w-7xl mx-auto">
        <div class="bg-white p-8 rounded-lg shadow-lg text-center">
            <img src="assets/Screenshot 2024-10-30 at 10.24.10 PM.png" alt="image" class="w-16 h-16 mx-auto mb-4">
            <p class="text-xl font-semibold text-gray-900">Money Back Guarantee</p>
            <p class="text-gray-500 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu
                nibh sed.</p>
        </div>
        <div class="bg-white p-8 rounded-lg shadow-lg text-center">
            <img src="assets/Screenshot 2024-10-30 at 10.24.45 PM.png" alt="image" class="w-16 h-16 mx-auto mb-4">
            <p class="text-xl font-semibold text-gray-900">All Claims at Anytime</p>
            <p class="text-gray-500 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu
                nibh sed.</p>
        </div>
        <div class="bg-white p-8 rounded-lg shadow-lg text-center">
            <img src="assets/Screenshot 2024-10-30 at 10.25.12 PM.png" alt="image" class="w-16 h-16 mx-auto mb-4">
            <p class="text-xl font-semibold text-gray-900">Digital Insurance Policy</p>
            <p class="text-gray-500 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu
                nibh sed.</p>
        </div>
        <div class="bg-white p-8 rounded-lg shadow-lg text-center">
            <img src="assets/Screenshot 2024-10-30 at 10.25.28 PM.png" alt="image" class="w-16 h-16 mx-auto mb-4">
            <p class="text-xl font-semibold text-gray-900">Direct Payment App</p>
            <p class="text-gray-500 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu
                nibh sed.</p>
        </div>
        <!-- src/assets/Screenshot 2024-10-30 at 10.24.45 PM.png
        src/assets/Screenshot 2024-10-30 at 10.25.12 PM.png
        src/assets/Screenshot 2024-10-30 at 10.25.28 PM.png -->
    </div>
</section>