<section class="flex sm:flex-col lg:flex-row items-center justify-between p-20 pt-5 pb-0 space-x-6 mt-6 "
    style="background-image: url('assets/16264056_rm309-adj-03.jpg');">

    <div class="max-w-lg text-center lg:text-left">
        <h1 class="text-5xl font-bold">
            Take The Worry Out Of Life With <span class="text-teal-600">Insurance</span> Protection
        </h1>
        <p class="mt-4 text-gray-600">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum.
            Urna eu et purus et mi sit rhoncus. Id nisl quis arcu nulla leo nulla cras justo consectetur adipiscing
            elit.
        </p>


        <div class="mt-6 flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4">
            <button
                class="px-6 py-3 text-white rounded-lg bg-teal-600 hover:bg-white hover:text-teal-600 hover:border hover:border-teal-600">
                ➡ Get Started
            </button>
            <button
                class="px-6 py-3 border border-teal-700 rounded-lg hover:bg-teal-600 hover:text-white text-teal-700">
                ✉️ Contact Us
            </button>
        </div>
    </div>


    <div class="sm:mt-6">
        <img src="assets/Clipped_image_20241030_215013.png" alt="image"
            class="rounded-lg w-full sm:max-w-md lg:max-w-xl">

    </div>
</section>